$test-color-black: #000;
$test-color-white: #fff;
$test-color-grey: rgba(0, 0, 0, 0.5);
$test-color-ltgrey: rgba(0, 0, 0, 0.1);
$test-color-pink: #f8c8dc;
$test-h1-heading-main-font-family: Helvetica Neue;
$test-h1-heading-main-font-weight: Regular;
$test-h1-heading-main-line-height: AUTO;
$test-h1-heading-main-font-size: 24px;
$test-h1-heading-main-letter-spacing: 0%;
$test-h1-heading-main-paragraph-spacing: 0;
$test-h1-heading-main-text-decoration: none;
$test-h1-heading-main-text-case: none;
$test-body-paragraph-regular-font-family: Helvetica Neue;
$test-body-paragraph-regular-font-weight: Regular;
$test-body-paragraph-regular-line-height: AUTO;
$test-body-paragraph-regular-font-size: 14px;
$test-body-paragraph-regular-letter-spacing: 0%;
$test-body-paragraph-regular-paragraph-spacing: 0;
$test-body-paragraph-regular-text-decoration: none;
$test-body-paragraph-regular-text-case: none;
$test-body-paragraph-bold-font-family: Helvetica Neue;
$test-body-paragraph-bold-font-weight: Bold;
$test-body-paragraph-bold-line-height: AUTO;
$test-body-paragraph-bold-font-size: 14px;
$test-body-paragraph-bold-letter-spacing: 0%;
$test-body-paragraph-bold-paragraph-spacing: 0;
$test-body-paragraph-bold-text-decoration: none;
$test-body-paragraph-bold-text-case: none;
$test-spacing-small: 32px;
$test-spacing-medium: 96px;
$test-button-text-default-font-family: Helvetica Neue;
$test-button-text-default-font-weight: Bold;
$test-button-text-default-line-height: AUTO;
$test-button-text-default-font-size: 12;
$test-button-text-default-letter-spacing: 0%;
$test-button-text-default-paragraph-spacing: 0;
$test-button-text-default-text-decoration: none;
$test-button-text-default-text-case: uppercase;
$test-button-border-dark-thin: 1px;
$test-button-border-radius: 6px;
$test-button-border-none: none;
$test-button-padding-topbottom: 10px;
$test-button-padding-leftright: 20px;
$test-button-color-default: #000;
$test-button-minwidth-regular: 90px;
$test-h2-heading-subhead-font-family: Helvetica Neue;
$test-h2-heading-subhead-font-weight: Regular;
$test-h2-heading-subhead-line-height: AUTO;
$test-h2-heading-subhead-font-size: 18px;
$test-h2-heading-subhead-letter-spacing: 0%;
$test-h2-heading-subhead-paragraph-spacing: 0;
$test-h2-heading-subhead-text-decoration: none;
$test-h2-heading-subhead-text-case: none;
$test-lots-o-space: 100;
